<nav class="nav">

    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <span class="nav-toggle" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
      <span></span>
      <span></span>
      <span></span>
    </span>

  <ul class="nav nav-tabs" [ngClass]="{'is-active': show}">
  <div>
  <img src="assets/images/angularfirebase.png"  width="130"        alt="google"/>
  </div>
  <li class="nav-item">
    <a class="nav-link active" routerLink="/photos">Livros</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="/uploads">MP3</a>
  </li>
   <li class="nav-item">
    <a class="nav-link active" routerLink="/notes">Anotações</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="/pessoas">Pessoas</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" 
    role="button" aria-haspopup="true" aria-expanded="false">Usuário</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/login" >Login</a>
      <a class="dropdown-item" href="#">Sair</a>
      <a class="dropdown-item" href="#">Editar</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Surpresa</a>
    </div>
  </li>
</ul>
</nav>

