<input [(ngModel)]="players" placeholder="Digite o Players" class="input">
<input [(ngModel)]="inicio" placeholder="Digite o inicio" class="input">
<input [(ngModel)]="termino" placeholder="Digite o termino" class="input">
<input [(ngModel)]="layout" placeholder="Digite o layout" class="input">
<input [(ngModel)]="sequencia" placeholder="Digite o sequencia" class="input">
<input [(ngModel)]="prioridade" placeholder="Digite o prioridade" class="input">
<input [(ngModel)]="repeticoes" placeholder="Digite quantidade de Repetições" class="input">
<input [(ngModel)]="acada" placeholder="Digite A Cada" class="input">
<input [(ngModel)]="ate" placeholder="Digite Até" class="input">
<button class="button is-success" (click)="createAgenda()">
 Salvar
</button>
<loading-spinner *ngIf="showSpinner"></loading-spinner>
<table class="table table-hover">
  <thead>
  </thead>
  <tbody>
     <tr>
      <div class="card-footer">
           </div>
          O Ultimo Registro Cadastrado:
        <div *ngFor="let agenda of agendas | async">
            <th>{{ agenda.players }}</th>
            <th>{{ agenda.inicio }}</th>
             <th>{{ agenda.termino }}</th>
              <th>{{ agenda.layout }}</th>
               <th>{{ agenda.sequencia }}</th>
               <th>{{ agenda.prioridade }}</th>
                <th>{{ agenda.repeticoes }}</th>
                 <th>{{ agenda.acada }}</th>
                  <th>{{ agenda.ate }}</th>
             <th>{{ agenda.datacadastro }} +  <span class="button is-small is-danger card-footer-item" (click)='deleteAgenda(agenda?.id)'>Apagar</span></th>
           </div>
           </tr>
  </tbody>
</table>

